---
import ImageSlider from "../components/ImageSlider.astro";
import IntroPhrases from "../components/IntroPhrases.astro";
import CategoryFadeIn from "../components/categoryFadeIn.astro";
import Navbar from "../components/Navbar.astro";
import '../components/style.css';
import Kompetenz from "../components/kompetenz.astro";
import PortfolioCarousel from "../components/PortfolioCarousel.astro";
import AboutMe from "../components/AboutMe.astro";
import Clients from "../components/Clients.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";


---

<html lang="en">
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Eventfotografie, Businessportraits & Reportagen in Berlin – professionelle Bilder für Firmenfeiern, Messen & Magazine. Authentische Momente mit langjähriger Erfahrung festgehalten.">
    <meta name="keywords" content="Eventfotografie Berlin, Businessportraits, Reportagefotografie, Firmenfeier Fotograf, Messefotografie, Unternehmensfotografie">
    <meta name="author" content="Marco Baaß">
    <title>Eventfotografie & Businessportraits in Berlin | Marco Baaß</title>
    <meta property="og:title" content="Eventfotografie & Businessportraits in Berlin | Marco Baaß">
    <meta property="og:description" content="Professionelle Fotografie für Firmenfeiern, Messen & Businessportraits. Authentisch & ausdrucksstark.">
    <!-- <meta property="og:image" content="https://deinewebsite.de/images/vorschaubild.jpg"> -->
    <!-- <meta property="og:url" content="https://deinewebsite.de"> -->
    <meta property="og:type" content="website">
	</head>
	<body>
    <Navbar/>
    <ImageSlider />
    <IntroPhrases/>
    <CategoryFadeIn />
    <Kompetenz />
    <PortfolioCarousel />
    <AboutMe />
    <Clients />
    <Contact />
    <Footer />
  </body>
</html>

<script type="application/ld+json">
  {
     "@context": "https://schema.org",
     "@type": "LocalBusiness",
     "name": "Marco Baaß - Eventfotografie & Businessportraits",
     "url": "https://deinewebsite.de",
    //  "image": "https://deinewebsite.de/logo.jpg",
     "description": "Eventfotografie und Businessportraits in Berlin mit langjähriger Erfahrung. Hochwertige Bilder für Unternehmen, Magazine & Events.",
     "address": {
         "@type": "PostalAddress",
         "streetAddress": "Pasteurstr. 53",
         "addressLocality": "Berlin",
         "postalCode": "10407",
         "addressCountry": "DE"
     },
     "telephone": "+49 151 19345758",
     "sameAs": [
      "https://www.linkedin.com/in/marcobaass"
    ]
  }
  </script>
