---
import { Image } from 'astro:assets';
import me from '../aboutMeImage/marco_baass.jpg'
---
<article id="about">

  <div class="topDivider" aria-hidden="true">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>

  <div class="aboutMe">
    <Image src={ me } alt="" class='img' />
    <h2 class="dark">Über mich</h2>
    <p class="dark">
      Seit über 15 Jahren arbeite und lebe ich als professioneller Fotograf in Berlin und habe mich auf Eventfotografie, Porträtaufnahmen und Auftragsarbeiten für Magazine und Zeitschriften spezialisiert. Mein Ziel ist es, die Essenz eines Moments einzufangen – sei es auf Firmenveranstaltungen, Gala-Events oder in individuellen Porträtsessions. Mit einem besonderen Gespür für die richtige Szene und authentische Emotionen schaffe ich Bilder, die nachhaltig wirken und Geschichten erzählen.
    </p>
    <p class="dark">
      Von der Dokumentation von Firmenevents bis zur professionellen Porträtfotografie: Ich sorge dafür, dass Sie und Ihre Veranstaltung im besten Licht erscheinen. Meine langjährige Erfahrung im Bereich der Magazin- und Zeitschriftenfotografie hilft mir dabei, die Atmosphäre einer Szene zu erfassen und Menschen in einem natürlichen, ausdrucksstarken Moment darzustellen. Ich freue mich darauf, meine Leidenschaft und Expertise in Ihre Projekte einzubringen und Ihnen Bilder zu liefern, die die Erinnerung an Ihre wertvollen Augenblicke lebendig halten.
    </p>
  </div>

  <div class="bottomDivider" aria-hidden="true">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>

</article>

<style>


/* Trenner */

.topDivider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .topDivider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .topDivider .shape-fill {
      fill: #432077;
  }

  .zindex {
    z-index: 1;
  }

  .bottomDivider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateY(-2px);
  }

  .bottomDivider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .bottomDivider .shape-fill {
    fill: #432077;
  }

  /* Trenner ende */

  article {
    background-color: var(--clr-bg);
    padding: var(--space-xl) 0;
  }

  .aboutMe {
    margin: var(--space-l) auto;
    text-wrap: pretty;
    max-width: 75ch;
  }

  .img {
    max-width: 240px;
    border-radius:64px 0 64px 0;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    transform: translateY(0.4em)
  }

  p {
    margin: 0 0 1em 0;
    padding: 0;
  }

  h2 {
    margin: 0 0 0.5em 0;
    padding: 0;
  }

  .dark{
    color: var(--clr-font-dark);
  }

  article {
    position: relative;
  }

  @media only screen and (max-width:430px) {
    .aboutMe {
      margin: var(--space-l);
    }

  }
</style>
