---
---
<section class="category" id="leistung" aria-labelledby="category-heading">
  <h2 id="category-heading" class="sr-only">Leistungen</h2>

  <article class="event-container">
    <div class="topDivider zindex" aria-hidden="true">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
      </svg>
    </div>

    <div class="event-content">
      <h2>Eventfotografie</h2>
      <p>Ob Firmenfeier, Messe oder Konferenz – ich halte die besonderen Momente fest, die Ihr Event unvergesslich machen. Ich fange Emotionen und Details ein, die Ihre Gäste und Marke ins beste Licht rücken. Nutzen Sie hochwertige Eventfotos für Marketing, Website oder Social Media, um die Geschichte Ihrer Veranstaltung zu erzählen.</p>
    </div>

    <div class="bottomDivider" aria-hidden="true">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
      </svg>
    </div>

  </article>








  <article class="business-container">

    <div class="topDivider" aria-hidden="true">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
      </svg>
    </div>

    <div class="business-content">
      <h2>Businessportraits</h2>
      <p>Authentische Businessportraits sind entscheidend für den Erfolg Ihres Unternehmens. Ob für Webseite, LinkedIn oder PR – ich schaffe Bilder, die Kompetenz und Persönlichkeit zeigen. In entspannter Atmosphäre entstehen Aufnahmen, die Ihre Individualität und Unternehmenswerte unterstreichen. Zeigen Sie, wer hinter Ihrem Erfolg steht.</p>
    </div>

    <div class="bottomDivider" aria-hidden="true">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
      </svg>
    </div>

  </article>







  <article class="reportage-container">
    <div class="topDivider" aria-hidden="true">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
      </svg>
    </div>

    <div class="reportage-content">
      <h2>Emotionale Bildreportagen</h2>
      <p>Die kleinen Momente erzählen oft die größten Geschichten. Mit emotionalen Bildreportagen fange ich echte Emotionen und authentische Augenblicke ein. Jede Bildserie verbindet den Betrachter emotional mit dem Erlebten und lässt die Gefühle des Augenblicks lebendig werden.</p>
    </div>

    <div class="bottomDivider" aria-hidden="true">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
      </svg>
    </div>

  </article>


</section>


<style>
  /* @import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap'); */


  /* Trenner */

  .topDivider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
    transform: translateY(-10px);
  }

  .topDivider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .topDivider .shape-fill {
      fill: #432077;
  }

  .zindex {
    z-index: 1;
  }

  .bottomDivider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
    transform: rotate(180deg) translateY(-2px);
  }

  .bottomDivider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .bottomDivider .shape-fill {
    fill: #432077;
  }



  /* Kategorien Styling */

  .category {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #432077;
  }

  .eventfotografie {
    position: relative;
  }

  .event-container {
    width: 100vw;
    background-image: url('/src/categoryImages/ITB-messe-fotografie.webp');
    background-size: cover;
    margin-bottom: var(--space-xl);
  }

  .event-content {
    max-width: 55ch;
    text-align: left;
    background-color: rgba(189, 217, 229, 0.75);
    padding: var(--space-s);
    border-radius: 16px;
    margin: var(--space-3xl) var(--space-2xl) var(--space-3xl) var(--space-2xl);
  }

  h2 {
    text-align: left;
  }

  .business-container {
    width: 100vw;
    background-image: url('/src/categoryImages/mitarbeiterkampagne-takeda-berlin.webp');
    background-size: cover;
    margin-bottom: var(--space-xl);
  }

  .business-content {
    max-width: 55ch;
    text-align: left;
    background-color: rgba(189, 217, 229, 0.75);
    padding: var(--space-s);
    border-radius: 16px;
    margin: var(--space-3xl) var(--space-2xl) var(--space-3xl) var(--space-2xl);
  }

  .reportage-container {
    width: 100vw;
    background-image: url('/src/categoryImages/reportage-foto-michael-wintjen.webp');
    background-size: cover;
  }

  .reportage-content {
    max-width: 55ch;
    text-align: left;
    background-color: rgba(189, 217, 229, 0.75);
    padding: var(--space-s);
    border-radius: 16px;
    margin: var(--space-3xl) var(--space-2xl) var(--space-3xl) var(--space-2xl);
  }

  @media only screen and (min-width: 1200px) {
    .event-content {
      margin: calc(var(--space-2xl)*5) var(--space-s) calc(var(--space-2xl)*3) var(--space-3xl);
      padding: var(--space-l) var(--space-xl);
    }

    .business-content {
      margin: calc(var(--space-2xl)*5) var(--space-s) calc(var(--space-2xl)*3) var(--space-3xl);
    }

    .reportage-content {
      margin: calc(var(--space-2xl)*5) var(--space-s) calc(var(--space-2xl)*3) var(--space-3xl);
    }
  }

  @media only screen and (max-width: 430px) {
    .event-content {
      margin: var(--space-3xl) var(--space-s) var(--space-3xl) var(--space-s);
    }

    .business-content {
      margin: var(--space-3xl) var(--space-s) var(--space-3xl) var(--space-s);
    }

    .reportage-content {
      margin: var(--space-3xl) var(--space-s) var(--space-3xl) var(--space-s);
    }

  }

</style>



<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  // fade ins

  gsap.from(".event-container", {
    scrollTrigger: {
    trigger: ".event-container",
    start: "top 80%",
    },
    stagger: {
      each: 0.5,
    },
    duration: 3,
    opacity: 0,
    y: "5rem",
    ease: "power4.out",

  });

  gsap.from(".business-container", {
    scrollTrigger: {
    trigger: ".business-container",
    start: "top 80%",
    },
    duration: 3,
    opacity: 0,
    y: "5rem",
    ease: "power4.out",

  });

  gsap.from(".reportage-container", {
    scrollTrigger: {
    trigger: ".reportage-container",
    start: "top 80%",
    },
    duration: 3,
    opacity: 0,
    y: "5rem",
    ease: "power4.out",

  });

  // text box scrolling animation

  gsap.from(".event-content", {
    scrollTrigger: {
      trigger: ".event-container",
      start: "-50 500",
      end: "400 500",
      markers: false,
      scrub: 2,
    },
    y: "200%"
  });

  gsap.from(".business-content", {
    scrollTrigger: {
      trigger: ".business-container",
      start: "-50 500",
      end: "400 500",
      markers: false,
      scrub: 2,
    },
    y: "200%"
  });

  gsap.from(".reportage-content", {
    scrollTrigger: {
      trigger: ".reportage-container",
      start: "-50 500",
      end: "400 500",
      markers: false,
      scrub: 2,
    },
    y: "200%"
  });

</script>
