---
import gsap from "gsap";
import { Picture } from "astro:assets";
import event from '../categoryImages/ITB-messe-fotografie.jpg';
import portrait from '../categoryImages/mitarbeiterkampagne-takeda-berlin.jpg';
import reportage from '../categoryImages/reportage-foto-michael-wintjen.jpg'
---
<section class="category" id="leistung">

  <div class="categoryTopWave">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>

  <article class="category-container-1">
    <div class="wrapperEvent">
      <h3>Eventfotografie</h3>
      <div class:list={["category-content", "links"]}>
        <p class:list="category-text">Ob Firmenfeier, Messe oder Konferenz – ich halte die besonderen Momente fest, die Ihr Event unvergesslich machen. Ich fange Emotionen und Details ein, die Ihre Gäste und Marke ins beste Licht rücken. Nutzen Sie hochwertige Eventfotos für Marketing, Website oder Social Media, um die Geschichte Ihrer Veranstaltung zu erzählen.</p>
        <Picture class="category-image-1" src={event} alt="Handshake Foto von der Internationalen Tourismusbörse Berlin"/>
      </div>
    </div>
  </article>


  <article class="category-container-2">

    <div class="businessTop">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
      </svg>
    </div>

    <div class="businessportraits">
      <h3 class="light">Businessportraits</h3>
      <div class:list={["category-content", "rechts"]}>
        <Picture class="category-image-2" src={portrait} alt="Mitarbeiter Porträt mit Kollegen im Hintergrund"/>
        <p class:list={["category-text, light"]}>Authentische Businessportraits sind entscheidend für den Erfolg Ihres Unternehmens. Ob für Webseite, LinkedIn oder PR – ich schaffe Bilder, die Kompetenz und Persönlichkeit zeigen. In entspannter Atmosphäre entstehen Aufnahmen, die Ihre Individualität und Unternehmenswerte unterstreichen. Zeigen Sie, wer hinter Ihrem Erfolg steht.</p>
      </div>
    </div>

    <div class="businessBottom">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
      </svg>
    </div>

  </article>


  <article class="category-container-3">

    <div class="wrapperReportage">
      <h3>Emotionale Bildreportagen</h3>
      <div class:list={["category-content", "links"]}>
        <p class="category-text">Die kleinen Momente erzählen oft die größten Geschichten. Mit emotionalen Bildreportagen fange ich echte Emotionen und authentische Augenblicke ein. Jede Bildserie verbindet den Betrachter emotional mit dem Erlebten und lässt die Gefühle des Augenblicks lebendig werden.</p>
        <Picture class="category-image-3" src={reportage} alt="Restaurator Michael Wintjen in seiner Werkstatt"/>
      </div>
    </div>
  </article>

</section>


<style>
  @import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');


  .categoryTopWave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .categoryTopWave svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 20px;
  }

  .categoryTopWave .shape-fill {
      fill: #674E8D;
  }

  .businessTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .businessTop svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 20px;
  }

  .businessTop .shape-fill {
    fill: #BDD9E5;
  }


  .businessBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .businessBottom svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 20px;
    transform: translateY(1px);
  }

  .businessBottom .shape-fill {
    fill: #BDD9E5;
  }


  h3 {
    font-size: 2rem;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    letter-spacing: 2px;
    margin-bottom: var(--space-l);
    text-align: center;
    line-height: 1;
  }

  .light{
    color: var(--clr-font-light)
  }

  .category {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .category-container-1 {
    max-width: calc(var(--space-m) + 800px);
    padding-top: 20vh;
    padding-bottom: 20vh;
    margin: 0 auto;
  }

  .category-container-2 {
    position: relative;
    width: 100%;
    height: 98%;
    background-color: var(--clr-bg-dark-full);
  }

  .category-container-3 {
    position: relative;
    width: 100%;
  }

  .businessportraits {
    max-width: calc(var(--space-m) + 800px);
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
  }

  .wrapperReportage {
    max-width: calc(var(--space-m) + 800px);
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
  }

  .category-content {
    display: grid;
    gap: var(--space-2xl);
    margin: 0 var(--space-m);
  }

  .links {
    grid-template-columns: 45fr 65fr;
  }

  .rechts {
    grid-template-columns: 65fr 45fr;
  }

  .category-text {
    place-content: center;
  }

  .category-image-1,
  .category-image-2,
  .category-image-3 {
    width: 100%;
    border-radius: 16px;
  }

  @media only screen and (max-width: 720px) {
    .links {
      grid-template-columns: 1fr;
    }
    .rechts {
      grid-template-columns: 1fr;
    }
  }

</style>



<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".category-container-1", {
    scrollTrigger: {
    trigger: ".category-container-1",
    start: "top 80%",
    },
    stagger: {
      each: 0.5,
    },
    duration: 3,
    opacity: 0,
    y: "5rem",
    ease: "power4.out",

  });

  gsap.from(".category-container-2", {
    scrollTrigger: {
    trigger: ".category-container-2",
    start: "top 80%",
    },
    duration: 3,
    opacity: 0,
    y: "5rem",
    ease: "power4.out",

  });

  gsap.from(".category-container-3", {
    scrollTrigger: {
    trigger: ".category-container-3",
    start: "top 80%",
    },
    duration: 3,
    opacity: 0,
    y: "5rem",
    ease: "power4.out",

  });

  gsap.from(".category-image-1", {
    scrollTrigger: {
      trigger: ".category-image-1",
        start:"-100 75%",      //100px über element & mitte des viewports
        end:"300 75%",         //100px unter element & mitte des viewports
        id: "left-text",
        markers: false,
        scrub: 2,
    },
    scale: .75,
  })

  gsap.from(".category-image-2", {
    scrollTrigger: {
      trigger: ".category-image-2",
        start:"-100 75%",      //100px über element & mitte des viewports
        end:"300 75%",         //100px unter element & mitte des viewports
        id: "left-text",
        markers: false,
        scrub: 2,
    },
    scale: .75,
  })

  gsap.from(".category-image-3", {
    scrollTrigger: {
      trigger: ".category-image-3",
        start:"-100 75%",      //100px über element & mitte des viewports
        end:"300 75%",         //100px unter element & mitte des viewports
        id: "left-text",
        markers: false,
        scrub: 2,
    },
    scale: .75,
  })

</script>
