---
import gsap from "gsap";
---
<section class="category">

  <article class="category-text">
    <h3>Eventfotografie</h3>
    <p>Ob Firmenfeier, Messe oder Konferenz – ich halte die besonderen Momente fest, die Ihre Veranstaltung unvergesslich machen. Dabei geht es nicht nur um perfekte Bilder, sondern um die Atmosphäre und das Lebensgefühl Ihres Events. Mit professionellem Equipment fange ich Emotionen und einzigartige Details ein, die Ihre Gäste und Ihre Marke ins beste Licht rücken. Nutzen Sie hochwertige Eventfotos für Marketing, Website oder Social Media und erzählen Sie mit jedem Bild die Geschichte Ihrer Veranstaltung.</p>
  </article>

  <article class="category-text">
    <h3>Businessportraits</h3>
    <p>Authentische und professionelle Businessportraits sind ein wichtiger Faktor für den Erfolg Ihres Unternehmens. Ob für Webseite, LinkedIn oder PR-Material – ich setze Sie und Ihr Team in Szene und schaffe Bilder, die Kompetenz und Persönlichkeit ausstrahlen. In entspannter Atmosphäre entstehen Aufnahmen, die Ihre Individualität und Unternehmenswerte unterstreichen. Zeigen Sie, wer hinter Ihrem Erfolg steht, und geben Sie Ihrem Unternehmen ein Gesicht, das in Erinnerung bleibt.</p>
  </article>

  <article class="category-text">
    <h3>Emotionale Bildreportagen</h3>
    <p>Es sind oft die kleinen Momente, die große Geschichten erzählen. Mit emotionalen Bildreportagen schaffe ich eine visuelle Erzählung, die weit über einzelne Fotos hinausgeht. Dabei fange ich echte Emotionen und authentische Augenblicke ein – sei es bei einem Event oder einer Reportage. Jede Bildserie spiegelt das Erlebte wider und verbindet den Betrachter emotional mit der Situation, um die Gefühle des Augenblicks lebendig werden zu lassen.</p>
  </article>

</section>


<style>
  .category {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    margin: 0 var(--space-m) 0
  }

  h3 {
    margin-bottom: 1rem;
  }


</style>



<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".category-text", {
    scrollTrigger: ".category",
    y: "5rem",
    opacity: 0,
    duration: 3,
    stagger: {
      each: 0.5,
      from: "random",
    },
    ease: "power4.out",
  });
</script>
