---

---

<section aria-labelledby="contact-form-title">
  <div class="wrapper">

    <div class="topDivider" aria-hidden="true">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
      </svg>
    </div>

    <h2 class="dark" id="contact-form-title">Lassen Sie uns ins Gespräch kommen</h2>
    <form id="contact-form" method="POST">
      <label for="from_name">Name</label>
      <input type="text" id="from_name" name="from_name" required />
      <label for="from_email">Ihre Email</label>
      <input type="email" id="from_email" name="from_email" required />
      <label for="message">Nachricht</label>
      <textarea id="message" name="message" required></textarea>
      <button type="submit">Nachricht senden</button>
      <div id="form-status" aria-live="polite"></div>
    </form>

    <div class="bottomDivider" aria-hidden="true">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
      </svg>
    </div>

  </div>
</section>

<style>
  .wrapper {
    background-color: var(--clr-bg);
    padding: 8rem 0;
    position: relative;
  }

  #contact-form {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4rem;
    border-radius: 16px;
  }

  button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: var(--clr-font-dark);
    padding: 0.5em 1rem;
    border: 1px solid var(--clr-font-dark);
    max-width: fit-content;
    margin: 1rem auto;
    outline: none;
    border-radius: 12px;
    overflow: hidden;
  }

  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-bg-dark-full);
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    border-radius: 12px;
  }

  button:hover {
    cursor: pointer;
    color: var(--clr-font-light);
    border: 1px solid var(--clr-font-light);
    overflow: hidden;
  }

  button:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }

  /* Trenner */

.topDivider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .topDivider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .topDivider .shape-fill {
      fill: #432077;
  }

  .zindex {
    z-index: 1;
  }

  .bottomDivider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateY(-2px);
  }

  .bottomDivider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .bottomDivider .shape-fill {
    fill: #432077;
  }

  /* Trenner ende */
</style>

<script>
  import emailjs from 'emailjs-com';

  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('contact-form') as HTMLFormElement;

    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      document.getElementById('form-status').focus();

      try {
        const result = await emailjs.sendForm(
          'service_ettxzoe', // Dein Service-ID
          'template_0hjap8u', // Deine Template-ID
          form,
          'R9BFHmOMxHBo6sm0k' // Dein Public API Key
        );

        console.log('EmailJS response:', result);
        alert('Message sent successfully!');
        form.reset();
      } catch (error) {
        console.error('Failed to send message:', error);
        alert('Failed to send message. Please try again later.');
      }
    });
  });
</script>
