---
// npx astro add astro-icon >>> installing astro-icon
import { Icon } from 'astro-icon/components'
// npm i -D @iconify-json/mdi >>> install icon package from iconify (e.g. Material Design Icon in this case)
// https://github.com/natemoo-re/astro-icon?tab=readme-ov-file
// https://icon-sets.iconify.design/mdi/
---
<footer>

  <div class="footerContent">
    <h3 class="light">Marco Baaß Fotografie</h3>
    <p class="light">Pasteurstraße 53</p>
    <p class="light">10407 Berlin</p>
    <div class="contact light">
      <div id="phone">
        <Icon name="mdi:phone" /><p>0151 193 45 758</p>
      </div>
      <div class="icons">
        <a href="https://www.linkedin.com/in/marcobaass/" target="_blank" aria-label="Link zu LinkedIn"><Icon name="mdi:linkedin" /></i></a>
        <a href="mailto: picture@marcobaass.com" aria-label="Link zum verfassen einer Email"><Icon name="mdi:email" /></a>
        <a href="https://www.berlin-photographers.de/" target="_blank" aria-label="Link zu Berlin Photographers" class="svgBerlinPhotographers">
          <svg preserveAspectRatio="xMidYMid meet" data-bbox="0 1.9 1745.8 529.5" viewBox="0 1.9 1745.8 529.5" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label="">
            <g>
                <path d="M189 332.9H3.9V1.9h176.2c43.5 0 77 8.1 99.7 24 23.8 16.7 35.8 39.2 35.8 66.8s-3.4 30.2-10.3 40.9c-.6 1-1.3 2-2 3.2-5.3 8.5-12.4 15.9-21 22.3 11.2 6 20.7 13.5 28.2 22.4h.3l2.7 3.5c11.3 14.7 17 32.5 17 52.8 0 30.5-12.8 54.5-38.1 71.1-24 15.9-58.7 24-103.3 24ZM21.6 315.1H189c41 0 72.5-7.1 93.5-21.1 20.3-13.4 30.1-31.8 30.1-56.3s-3.7-28-11.2-39l-2.3-2.9c-9.1-11.8-22.2-20.9-39-27.1l-19.1-7.1 18.2-9.2c12.9-6.5 22.4-14.7 28.9-25.1.8-1.2 1.5-2.3 2.2-3.4 5.5-8.4 7.5-11.6 7.5-31.3s-9.2-38.9-28.3-52.3c-19.7-13.8-49.8-20.8-89.5-20.8H21.6V315Zm158.6-55.8h-72.5v-67h72.5c13.7 0 23.9 2.5 31.3 7.7 5.7 4 12.5 11.7 12.5 25.7 0 12.6-5.7 33.6-43.8 33.6m-54.8-17.8h54.7c26.1 0 26.1-10.6 26.1-15.7 0-5.2 0-15.8-26.1-15.8h-54.7zM166 140.1h-58.1V75.8H166c13.4 0 23.5 2.4 30.8 7.3 8.2 5.5 12.5 14.1 12.5 24.8s-5.6 32.2-43.3 32.2m-40.4-17.8H166c25.6 0 25.6-10.1 25.6-14.4s0-14.4-25.6-14.4h-40.4v28.9Z" fill="#ffffff" data-color="1"></path>
                <path d="M628.2 333H350V2h272.3v97.4H471.4v19h132.5v93.7H471.4v23.4h156.7v97.4Zm-260.4-17.7h242.7v-61.9H453.8v-58.9h132.5v-58.3H453.8V81.7h150.9v-62H367.8v295.5Z" fill="#ffffff" data-color="1"></path>
                <path d="M973.8 333.2H839.6l-53.3-78.9h-15v78.8H647.9V2.1h159.6c29.9 0 56.5 5.1 79.2 15.1 22.8 10.1 40.8 25 53.5 44.4 12.6 19.2 18.9 42 18.9 67.5s-5.1 44.4-16.5 63.2c-9.4 15.4-22.3 28.3-38.7 38.3l69.7 102.5ZM849 315.5h91.3l-61.9-91.1 8.9-4.6c17.5-9 31.1-21.4 40.3-36.6 9.6-15.9 13.9-32.6 13.9-54s-5.4-41.5-16-57.9c-10.8-16.5-26.2-29.2-45.8-37.9-20.4-9-44.6-13.6-72-13.6H665.8v295.5h87.9v-78.8h46.4v6.3l49 72.6Zm-48-141h-47.4V83.4H801c16.6 0 29.4 4 38.1 11.9 9.1 8.1 13.7 19.4 13.7 33.6s-4.6 25.4-13.7 33.7c-8.7 7.9-21.5 11.9-38.1 11.9m-29.6-17.7H801c12.1 0 20.9-2.5 26.2-7.3s7.9-11.5 7.9-20.6-2.4-15.3-7.5-20.1l-.7-.6c-5.4-4.7-14.1-7.1-25.9-7.1h-29.6v55.6Z" fill="#ffffff" data-color="1"></path>
                <path d="M1252.7 333H988V2h123.4v231.4h141.4V333Zm-247-17.7H1235v-64.1h-141.4V19.9h-87.9z" fill="#ffffff" data-color="1"></path>
                <path d="M1395.8 333.1h-123.4V2.1h123.4zm-105.6-17.7h87.9V19.9h-87.9z" fill="#ffffff" data-color="1"></path>
                <path d="M1742 333.1h-99.8l-106.1-126.7v126.7h-120.6V2.1h99.8l106.1 126.7V2.1H1742zm-91.5-17.7h73.8V19.9h-85.1v157.8L1507.1 19.9h-73.8v295.5h85.1V157.6z" fill="#ffffff" data-color="1"></path>
                <path d="M110.7 412c8.5 6.8 12.7 16.2 12.7 28.3s-2.4 20.1-7.4 28.1c-4.9 7.8-11.9 13.9-21.2 18.1s-20 6.3-32.4 6.3H31.2l-7.4 36.8H0l25.5-127.7h49.2c15.4 0 27.4 3.3 35.9 10.1ZM90 465c6.3-5.1 9.4-12.6 9.4-22.3s-2.3-11.9-7.1-15.4-11.4-5.3-20.1-5.3H45.1l-10 50.8h28.1c11.5 0 20.5-2.6 26.8-7.7Z" fill="#ffffff" data-color="1"></path>
                <path d="m269.6 401.9-25.5 127.7h-23.6l10.8-54.2h-66l-10.8 54.2h-23.7l25.5-127.7H180l-10.4 52.3h66l10.4-52.3z" fill="#ffffff" data-color="1"></path>
                <path d="M309.6 524.6c-9.2-4.6-16.2-10.9-21-19.1s-7.3-17.7-7.3-28.6 3.2-27.4 9.7-39.1 15.8-20.9 27.7-27.7 25.5-10.1 40.9-10.1 23.6 2.3 32.8 6.8c9.2 4.6 16.2 10.9 21 19.1 4.9 8.2 7.3 17.7 7.3 28.6s-3.2 27.4-9.7 39.1-15.8 20.9-27.7 27.7-25.5 10.1-40.9 10.1-23.6-2.3-32.7-6.8zm62.2-21.3c8-4.9 14.1-11.5 18.5-19.9s6.5-17.4 6.5-27.3-3.5-19.2-10.3-25.6-16.5-9.6-29.1-9.6-19.5 2.4-27.4 7.4c-8 4.9-14.1 11.5-18.3 19.9-4.2 8.3-6.4 17.4-6.4 27.3s3.5 19.2 10.3 25.6 16.5 9.6 29 9.6 19.5-2.4 27.4-7.4h-.1Z" fill="#ffffff" data-color="1"></path>
                <path d="M477.8 421.9h-42.3l4-20.1H548l-4.2 20.1h-42.3l-21.4 107.7h-23.7l21.5-107.7Z" fill="#ffffff" data-color="1"></path>
                <path d="M569.5 524.6c-9.2-4.6-16.2-10.9-21-19.1-4.9-8.2-7.3-17.7-7.3-28.6s3.2-27.4 9.7-39.1 15.8-20.9 27.7-27.7 25.5-10.1 40.9-10.1 23.6 2.3 32.8 6.8c9.2 4.6 16.2 10.9 21 19.1 4.9 8.2 7.3 17.7 7.3 28.6s-3.2 27.4-9.7 39.1-15.8 20.9-27.7 27.7-25.5 10.1-40.9 10.1-23.6-2.3-32.7-6.8zm62.2-21.3c8-4.9 14.1-11.5 18.5-19.9s6.5-17.4 6.5-27.3-3.5-19.2-10.3-25.6c-6.9-6.4-16.5-9.6-29.1-9.6s-19.5 2.4-27.4 7.4c-8 4.9-14.1 11.5-18.3 19.9s-6.4 17.4-6.4 27.3 3.5 19.2 10.3 25.6 16.5 9.6 29 9.6 19.5-2.4 27.4-7.4h-.1Z" fill="#ffffff" data-color="1"></path>
                <path d="M792.4 464.3h22.4l-10.4 51.4c-6.4 5-13.7 8.8-21.9 11.5s-16.8 4.1-25.6 4.1-23.5-2.3-32.8-6.8c-9.4-4.6-16.5-10.9-21.7-19.1-5-8.2-7.6-17.7-7.6-28.6s3.3-27.4 9.9-39.1c6.5-11.7 15.9-20.9 28-27.7s25.9-10.1 41.7-10.1 21.7 1.8 30.3 5.4q12.9 5.4 21 15.6l-17.2 14.2c-4.1-5-9.1-8.6-14.7-10.9s-12.6-3.5-20.4-3.5-20.4 2.4-28.6 7.2c-8.2 4.9-14.6 11.3-19.1 19.6s-6.8 17.6-6.8 27.7 3.6 19.4 10.6 25.8c7.1 6.3 17.2 9.5 30.3 9.5s17.2-2.1 24.9-6l8.1-40.4h-.3Z" fill="#ffffff" data-color="1"></path>
                <path d="M947 471.5c-6.5 8.5-15.8 14.4-27.6 17.6l22.8 40.5h-25.1l-21-37.4h-31.8l-7.3 37.4h-23.9l25.5-127.7h49.6c15.4 0 27.4 3.3 35.9 10.1s12.7 16.2 12.7 28.3-3.3 22.7-9.9 31.2Zm-23.6-6.5c6.3-5.1 9.5-12.6 9.5-22.3s-2.3-11.9-7.1-15.4-11.4-5.3-20.1-5.3h-27.2l-10.3 50.8h28.3c11.5 0 20.5-2.6 26.8-7.7Z" fill="#ffffff" data-color="1"></path>
                <path d="M1056.5 500.1h-64.3l-18.5 29.6h-25.4l83.1-127.7h23.6l31.8 127.7h-23.6l-6.8-29.6Zm-4.5-18.7-13-56.2-35.3 56.2h48.2Z" fill="#ffffff" data-color="1"></path>
                <path d="M1213.8 412c8.5 6.8 12.7 16.2 12.7 28.3s-2.4 20.1-7.4 28.1c-4.9 7.8-11.9 13.9-21.2 18.1q-13.8 6.3-32.4 6.3h-31.2l-7.4 36.8h-23.7l25.5-127.7h49.2c15.4 0 27.4 3.3 35.9 10.1m-20.6 53c6.3-5.1 9.4-12.6 9.4-22.3s-2.3-11.9-7.1-15.4-11.4-5.3-20.1-5.3h-27.1l-10 50.8h28.1c11.5 0 20.5-2.6 26.8-7.7Z" fill="#ffffff" data-color="1"></path>
                <path d="m1372.7 401.9-25.5 127.7h-23.6l10.8-54.2h-66l-10.8 54.2h-23.7l25.5-127.7h23.7l-10.4 52.3h66l10.4-52.3z" fill="#ffffff" data-color="1"></path>
                <path d="m1426.9 421.8-6.5 33.2h61.8l-3.8 19.5h-62.1l-6.9 35.3h72.3l-4 19.9h-95.8l25.5-127.7h93.2l-4 19.9h-69.8Z" fill="#ffffff" data-color="1"></path>
                <path d="M1618 471.5c-6.5 8.5-15.8 14.4-27.6 17.6l22.8 40.5h-25.1l-21-37.4h-31.8l-7.3 37.4h-23.9l25.5-127.7h49.6c15.4 0 27.4 3.3 35.9 10.1s12.7 16.2 12.7 28.3-3.3 22.7-9.9 31.2Zm-23.6-6.5c6.3-5.1 9.5-12.6 9.5-22.3s-2.3-11.9-7.1-15.4-11.4-5.3-20.1-5.3h-27.2l-10.3 50.8h28.3c11.5 0 20.5-2.6 26.8-7.7Z" fill="#ffffff" data-color="1"></path>
                <path d="M1650.9 527.3c-9-2.8-16-6.4-21.2-10.8l10-18.6c5.4 4.2 11.7 7.7 19.1 10.1 7.3 2.4 14.9 3.7 22.6 3.7s16.8-1.7 22.3-4.9 8.3-7.7 8.3-13.2-1.2-5.8-3.3-8c-2.3-2.2-5-3.8-8.5-5.3-3.3-1.3-8-2.8-14-4.6-8.3-2.4-15-4.7-20.1-7.1-5.1-2.2-9.5-5.6-13.2-10.1-3.6-4.5-5.5-10.4-5.5-17.6s2.3-15.5 7.1-21.7c4.7-6.2 11.3-11 19.6-14.4 8.3-3.5 18.1-5.1 29-5.1s16.2.9 23.6 2.8 13.9 4.5 19.1 8l-9.4 18.9c-4.7-3.2-10.1-5.6-16-7.3-6-1.7-12.2-2.6-18.6-2.6-9.5 0-17.1 1.8-22.6 5.3s-8.3 8.1-8.3 13.7 1.2 6 3.5 8.2 5.1 4 8.5 5.3c3.3 1.3 8.1 2.9 14.4 4.9 8.1 2.3 14.6 4.6 19.7 6.8s9.5 5.4 13.1 9.6 5.4 9.7 5.4 16.7-2.3 15.6-7.1 21.9c-4.7 6.2-11.3 11-19.9 14.4-8.6 3.5-18.5 5.1-29.5 5.1s-19.2-1.4-28.3-4.2h.3Z" fill="#ffffff" data-color="1"></path>
            </g>
          </svg>
        </a>
      </div>
    </div>


    <div class="dsvgo">
      <button class="light" id="impButton"><p>Impressum & Datenschutz</p></button>
    </div>
  </div>
</footer>

<div id="impModal" class="hidden">
  <button id="closeImpressum">❎</button>
  <div class="modal-content">

    <h2>Impressum</h2>

    <p>Angaben gemäß § 5 TMG:</p>
    <br>
    <p>Marco Baaß</p>
    <p>Pasteurstraße 53</p>
    <p>10407 Berlin</p>

    <p>Telefon: +49 151 193 45 758</p>
    <p>E-Mail: picture(at)marcobaass.com</p>

    <p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:</p>
    <p>DE251654552</p>
    <h2>Datenschutz</h2>
    <p>Diese Datenschutzerklärung klärt Sie über die Art, den Umfang und Zweck der Verarbeitung von personenbezogenen Daten (nachfolgend kurz „Daten“) innerhalb unseres Onlineangebotes und der mit ihm verbundenen Webseiten, Funktionen und Inhalte sowie externen Onlinepräsenzen, wie z.B. unser Social Media Profile auf. (nachfolgend gemeinsam bezeichnet als „Onlineangebot“). Im Hinblick auf die verwendeten Begrifflichkeiten, wie z.B. „Verarbeitung“ oder „Verantwortlicher“ verweisen wir auf die Definitionen im Art. 4 der Datenschutz-grundverordnung (DSGVO).</p>
    <br>
    <p><u>Verantwortlicher</u><br />
    Marco Baaß<br />
    Pasteurstr. 53<br />
    10407 Berlin<br />
    <a href="mailto: picture@marcobaass.com">picture@marcobaass.com</a>
    </p>
    <br>
    <p><u>Arten der verarbeiteten Daten</u></p>
    <ul>
      <li><p>Kontaktdaten (z.B., E-Mail, Telefonnummern).</p></li>
      <li><p>Nutzungsdaten (z.B., besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten).</p></li>
      <li><p>Meta-/Kommunikationsdaten (z.B., Geräte-Informationen, IP-Adressen).</p></li>
    </ul>
    <br>
    <p><u>Zweck der Verarbeitung</u>
    <br>
    <p>Zurverfügungstellung des Onlineangebotes, seiner Funktionen und Inhalte.
    Beantwortung von Kontaktanfragen und Kommunikation mit Nutzern.
    Sicherheitsmaßnahmen.</p>
    <br>
    <p><u>Verwendete Begrifflichkeiten</u>
    „Personenbezogene Daten“ sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden „betroffene Person“) beziehen; als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. Cookie) oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.</p>
    <p>„Verarbeitung“ ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführten Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten. Der Begriff reicht weit und umfasst praktisch jeden Umgang mit Daten.</p>
    <p>Als „Verantwortlicher“ wird die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet, bezeichnet.</p>
    <br>
    <p><u>Maßgebliche Rechtsgrundlagen</u><br />
    Nach Maßgabe des Art. 13 DSGVO teilen wir Ihnen die Rechtsgrundlagen unserer Datenverarbeitungen mit. Sofern die Rechtsgrundlage in der Datenschutzerklärung nicht genannt wird, gilt Folgendes: Die Rechtsgrundlage für die Einholung von Einwilligungen ist Art. 6 Abs. 1 lit. a und Art. 7 DSGVO, die Rechtsgrundlage für die Verarbeitung zur Erfüllung unserer Leistungen und Durchführung vertraglicher Maßnahmen sowie Beantwortung von Anfragen ist Art. 6 Abs. 1 lit. b DSGVO, die Rechtsgrundlage für die Verarbeitung zur Erfüllung unserer rechtlichen Verpflichtungen ist Art. 6 Abs. 1 lit. c DSGVO, und die Rechtsgrundlage für die Verarbeitung zur Wahrung unserer berechtigten Interessen ist Art. 6 Abs. 1 lit. f DSGVO. Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als Rechtsgrundlage.</p>
    <br>
    <p><u>Sicherheitsmaßnahmen</u><br />
    Wir bitten Sie sich regelmäßig über den Inhalt unserer Datenschutzerklärung zu informieren. Wir passen die Datenschutzerklärung an, sobald die Änderungen der von uns durchgeführten Datenverarbeitungen dies erforderlich machen. Wir informieren Sie, sobald durch die Änderungen eine Mitwirkungshandlung Ihrerseits (z.B. Einwilligung) oder eine sonstige individuelle Benachrichtigung erforderlich wird.</p>
    <br>
    <p><u>Zusammenarbeit mit Auftragsverarbeitern und Dritten</u><br />
    Sofern wir im Rahmen unserer Verarbeitung Daten gegenüber anderen Personen und Unternehmen (Auftragsverarbeitern oder Dritten) offenbaren, sie an diese übermitteln oder ihnen sonst Zugriff auf die Daten gewähren, erfolgt dies nur auf Grundlage einer gesetzlichen Erlaubnis (z.B. wenn eine Übermittlung der Daten an Dritte, wie an Zahlungsdienstleister, gem. Art. 6 Abs. 1 lit. b DSGVO zur Vertragserfüllung erforderlich ist), Sie eingewilligt haben, eine rechtliche Verpflichtung dies vorsieht oder auf Grundlage unserer berechtigten Interessen (z.B. beim Einsatz von Beauftragten, Webhostern, etc.).</p>
    <p>Sofern wir Dritte mit der Verarbeitung von Daten auf Grundlage eines sog. „Auftragsverarbeitungs-vertrages“ beauftragen, geschieht dies auf Grundlage des Art. 28 DSGVO.</p>
    <br>
    <p><u>Übermittlungen in Drittländer</u><br />
    Sofern wir Daten in einem Drittland (d.h. außerhalb der Europäischen Union (EU) oder des Europäischen Wirtschaftsraums (EWR)) verarbeiten oder dies im Rahmen der Inanspruchnahme von Diensten Dritter oder Offenlegung, bzw. Übermittlung von Daten an Dritte geschieht, erfolgt dies nur, wenn es zur Erfüllung unserer (vor)vertraglichen Pflichten, auf Grundlage Ihrer Einwilligung, aufgrund einer rechtlichen Verpflichtung oder auf Grundlage unserer berechtigten Interessen geschieht. Vorbehaltlich gesetzlicher oder vertraglicher Erlaubnisse, verarbeiten oder lassen wir die Daten in einem Drittland nur beim Vorliegen der besonderen Voraussetzungen der Art. 44 ff. DSGVO verarbeiten. D.h. die Verarbeitung erfolgt z.B. auf Grundlage besonderer Garantien, wie der offiziell anerkannten Feststellung eines der EU entsprechenden Datenschutzniveaus (z.B. für die USA durch das „Privacy Shield“) oder Beachtung offiziell anerkannter spezieller vertraglicher Verpflichtungen (so genannte „Standardvertrags-klauseln“).</p>
    <br>
    <p><u>Rechte der betroffenen Personen</u><br />
    Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob betreffende Daten verarbeitet werden und auf Auskunft über diese Daten sowie auf weitere Informationen und Kopie der Daten entsprechend Art. 15 DSGVO.</p>
    <p>Sie haben entsprechend. Art. 16 DSGVO das Recht, die Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen Daten zu verlangen.</p>
    <p>Sie haben nach Maßgabe des Art. 17 DSGVO das Recht zu verlangen, dass betreffende Daten unverzüglich gelöscht werden, bzw. alternativ nach Maßgabe des Art. 18 DSGVO eine Einschränkung der Verarbeitung der Daten zu verlangen.</p>
    <p>Sie haben das Recht zu verlangen, dass die Sie betreffenden Daten, die Sie uns bereitgestellt haben nach Maßgabe des Art. 20 DSGVO zu erhalten und deren Übermittlung an andere Verantwortliche zu fordern.</p>
    <p>Sie haben ferner gem. Art. 77 DSGVO das Recht, eine Beschwerde bei der zuständigen Aufsichtsbehörde einzureichen.</p>
    <br>
    <p><u>Widerrufsrecht</u>
    <br>
    <p>Sie haben das Recht, erteilte Einwilligungen gem. Art. 7 Abs. 3 DSGVO mit Wirkung für die Zukunft zu widerrufen</p>
    <br>
    <p><u>Widerspruchsrecht</u><br />
    Sie können der künftigen Verarbeitung der Sie betreffenden Daten nach Maßgabe des Art. 21 DSGVO jederzeit widersprechen. Der Widerspruch kann insbesondere gegen die Verarbeitung für Zwecke der Direktwerbung erfolgen.</p>
    <br>
    <p><u>Löschung von Daten</u><br />
    Die von uns verarbeiteten Daten werden nach Maßgabe der Art. 17 und 18 DSGVO gelöscht oder in ihrer Verarbeitung eingeschränkt. Sofern nicht im Rahmen dieser Datenschutzerklärung ausdrücklich angegeben, werden die bei uns gespeicherten Daten gelöscht, sobald sie für ihre Zweckbestimmung nicht mehr erforderlich sind und der Löschung keine gesetzlichen Aufbewahrungspflichten entgegenstehen. Sofern die Daten nicht gelöscht werden, weil sie für andere und gesetzlich zulässige Zwecke erforderlich sind, wird deren Verarbeitung eingeschränkt. D.h. die Daten werden gesperrt und nicht für andere Zwecke verarbeitet. Das gilt z.B. für Daten, die aus handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen.</p>
    <p>Nach gesetzlichen Vorgaben in Deutschland, erfolgt die Aufbewahrung insbesondere für 10 Jahre gemäß §§ 147 Abs. 1 AO, 257 Abs. 1 Nr. 1 und 4, Abs. 4 HGB (Bücher, Aufzeichnungen, Lageberichte, Buchungsbelege, Handelsbücher, für Besteuerung relevanter Unterlagen, etc.) und 6 Jahre gemäß § 257 Abs. 1 Nr. 2 und 3, Abs. 4 HGB (Handelsbriefe).</p>
    <p>Nach gesetzlichen Vorgaben in Österreich erfolgt die Aufbewahrung insbesondere für 7 J gemäß § 132 Abs. 1 BAO (Buchhaltungsunterlagen, Belege/Rechnungen, Konten, Belege, Geschäftspapiere, Aufstellung der Einnahmen und Ausgaben, etc.), für 22 Jahre im Zusammenhang mit Grundstücken und für 10 Jahre bei Unterlagen im Zusammenhang mit elektronisch erbrachten Leistungen, Telekommunikations-, Rundfunk- und Fernsehleistungen, die an Nichtunternehmer in EU-Mitgliedstaaten erbracht werden und für die der Mini-One-Stop-Shop (MOSS) in Anspruch genommen wird.</p>
    <br>
    <p><u>Hosting</u></p>
    <p>Die von uns in Anspruch genommenen Hosting-Leistungen dienen der Zurverfügungstellung der folgenden Leistungen: Infrastruktur- und Plattformdienstleistungen, Rechenkapazität, Speicherplatz und Datenbankdienste, Sicherheitsleistungen sowie technische Wartungsleistungen, die wir zum Zwecke des Betriebs dieses Onlineangebotes einsetzen.</p>
    <p>Hierbei verarbeiten wir, bzw. unser Hostinganbieter Bestandsdaten, Kontaktdaten, Inhaltsdaten, Vertragsdaten, Nutzungsdaten, Meta- und Kommunikationsdaten von Kunden, Interessenten und Besuchern dieses Onlineangebotes auf Grundlage unserer berechtigten Interessen an einer effizienten und sicheren Zurverfügungstellung dieses Onlineangebotes gem. Art. 6 Abs. 1 lit. f DSGVO i.V.m. Art. 28 DSGVO (Abschluss Auftragsverarbeitungs-vertrag).</p>
    <br>
    <p><u>Erhebung von Zugriffsdaten und Logfiles</u>
    <p>Wir, bzw. unser Hostinganbieter, erhebt auf Grundlage unserer berechtigten Interessen im Sinne des Art. 6 Abs. 1 lit. f. DSGVO Daten über jeden Zugriff auf den Server, auf dem sich dieser Dienst befindet (sogenannte Serverlogfiles). Zu den Zugriffsdaten gehören Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.</p>
    <p>Logfile-Informationen werden aus Sicherheitsgründen (z.B. zur Aufklärung von Missbrauchs- oder Betrugshandlungen) für die Dauer von maximal 7 Tagen gespeichert und danach gelöscht. Daten, deren weitere Aufbewahrung zu Beweiszwecken erforderlich ist, sind bis zur endgültigen Klärung des jeweiligen Vorfalls von der Löschung ausgenommen.</p>
    <br>
    <p><u>Kontaktaufnahme</u>
    <p>Bei der Kontaktaufnahme mit uns (z.B. per E-Mail, Telefon oder via sozialer Medien) werden die Angaben des Nutzers zur Bearbeitung der Kontaktanfrage und deren Abwicklung gem. Art. 6 Abs. 1 lit. b) DSGVO verarbeitet.</p>
    <p>Wir löschen die Anfragen, sofern diese nicht mehr erforderlich sind. Wir überprüfen die Erforderlichkeit alle zwei Jahre; Ferner gelten die gesetzlichen Archivierungspflichten.</p>
    <br>
    <p><u>Onlinepräsenzen in sozialen Medien</u>
    <p>Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und Plattformen, um mit den dort aktiven Kunden, Interessenten und Nutzern kommunizieren und sie dort über unsere Leistungen informieren zu können. Beim Aufruf der jeweiligen Netzwerke und Plattformen gelten die Geschäftsbedingungen und die Datenverarbeitungs-richtlinien deren jeweiligen Betreiber.</p>
    <p>Soweit nicht anders im Rahmen unserer Datenschutzerklärung angegeben, verarbeiten wir die Daten der Nutzer sofern diese mit uns innerhalb der sozialen Netzwerke und Plattformen kommunizieren, z.B. Beiträge auf unseren Onlinepräsenzen verfassen oder uns Nachrichten zusenden.</p>
    <p>Erstellt mit Datenschutz-Generator.de von RA Dr. Thomas Schwenke</p>
  </div>
</div>

<style>
  #impModal h1 {
    color: black;
  }

  #impModal ul {
    list-style:square ;
  }

  body {
    position: relative;
  }

  .footerContent {
    margin: var(--space-l);
  }

  .icons {
    display: flex;
    gap: var(--space-2xs);
  }

  #phone {
    display: flex;
    align-items: center;
    gap: var(--space-3xs)
  }

  .svgBerlinPhotographers {
    width: calc(var(--step-2) * 2);
    align-self: center;
  }

  .dsvgo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: var(--space-s);
  }

  [data-icon] {
    font-size: var(--step-2);
  }


  [data-icon="mdi:phone"] {
    font-size: var(--step-0);
    text-align: center;
  }

  .hidden {
    /* display: none; */
    opacity: 0;
  }

  #impModal {
    position: absolute;
    width: 100%;
    height: 100vh;
    position: fixed; /* Keeps it over other content */
    top: 0;
    left: 0;
    z-index: 2000;
    padding: 2rem;
    overflow: scroll;
    margin: 0 auto;
    background-color: white;
  }

  .modal-content {
    color: black;
    padding: 1rem;
    border-radius: 8px;
    max-width: 75ch;
    margin: 0 auto;
  }

  #closeImpressum {
    position: fixed;
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
  }

</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const button = document.getElementById('impButton');
    const impressum = document.getElementById('impModal');
    const closeButton = document.getElementById('closeImpressum');

    console.log('Button:', button);
    console.log('Impressum Modal:', impressum);
    console.log('Close Button:', closeButton);

    closeButton.addEventListener('click', () => {
      console.log('Close button clicked');
      impressum.classList.toggle('hidden');
    });

    button.addEventListener('click', () => {
      console.log('Impressum button clicked');
      impressum.classList.toggle('hidden');
    });
  });


</script>
