---
import { Image } from "astro:assets";

import slide1 from '../sliderImages/HdZ-3855.jpeg';
import slide2 from '../sliderImages/industrie-fotograf-berlin.jpg';
import slide3 from '../sliderImages/manu-kumar-copyright-marco-baass-fotograf-berlin_upscayl_2x_ultramix_balanced.jpg';


// import Swiper styles
import 'swiper/css';
import 'swiper/css/autoplay';
import 'swiper/css/navigation';
import 'swiper/css/pagination';


---

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <Image src={slide1} alt="Aufnahme einer Videokamera die gerade ein Interview mit einer Person filmt"/>
    </div>
    <div class="swiper-slide">
      <Image src={slide2} alt="Ein Ingenieur der gerade ein Messgerät in einem Auto anschliesst"/>
    </div>
    <div class="swiper-slide">
      <Image src={slide3} alt="Portrait von Manu Kumar in seiner Teemanufaktur"/>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<style>
  html,
  body {
    position: relative;
    height: 100%;

    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: var(--clr-bg-op);

    --swiper-pagination-color: var(--clr-bg-op);
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
}


  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media only screen and (max-width: 430px) {
    .swiper {
      width: 100%;
      height: 70%;
    }
  }
</style>

<script>
  // import Swiper JS
  import Swiper from 'swiper';
  import { Autoplay, Pagination, Navigation } from 'swiper/modules';

  const swiper = new Swiper('.swiper', {
    modules: [Autoplay, Pagination, Navigation],

    autoplay: {
        delay: 3500,
        disableOnInteraction: false,
      },
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
      clickable: true,
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
