---
import type { GetStaticPaths } from "astro";
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

// Import all images and load their metadata asynchronously
const images = import.meta.glob<{ default: ImageMetadata }>('/src/galleryImages/*.{jpeg,jpg,png,gif}');
const imageMetadata = await Promise.all(
  Object.values(images).map(async (imageImport) => await imageImport())
);
---

<section class="portfolio-bg" id="portfolio">
  <h3>Portfolio</h3>
    <div class="portfolioImages" id="portfolioImages">
    <div class="portfolioStream">
      {imageMetadata.map((image, index) => (
        <div class="portfolioSlide">
          <Image class="image" src={image.default} alt={`Gallery Image ${index + 1}`} />
        </div>
      ))}
    </div>
  </div>
</section>

<div id="modal" class="modal">
  <div class="modalContent">
    <img id="modalImg" class="modalImg" />
    <button id="next"><img src="src/svg/arrow_back.svg" style="rotate: 180deg;" alt=""></button>
    <button id="prev"><img src="src/svg/arrow_back.svg" alt=""></button>
    <button id="close"><img src="src/svg/arrow_back.svg" style="rotate: 270deg;" alt=""></button>
  </div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

  h3 {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    letter-spacing: 2px;
    margin-bottom: var(--space-l);
    padding-top: var(--space-l);
    text-align: center;
  }

  .portfolio-bg {
    padding-bottom: var(--space-xl-2xl);
    background-color: var(--clr-bg-dark-full);
  }

  .portfolioStream {
    position: relative;
    column-count: 5;
    margin: 0;
    padding: 0;
    gap: 0;

  }

  .image {
    padding: 0.5rem 0.5rem;
    border-radius: 16px;
  }

  .image:hover {
    cursor: zoom-in;
  }

  .modal {
    display: none; /* Hide initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 235, 230, 0.8); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 90;
  }

  .modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .modalImg {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    position: relative;
    margin: auto;
  }

  .no-scroll {
    overflow: hidden;
  }

  #next {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%)
  }

  #prev {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%)
  }

  #close {
    position: absolute;
    bottom: 0%;
    font-size: 4rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px 4px black, -1px -1px 4px black;
  }

  .arrow {
    font-weight: 900;
    font-size: 3rem;
  }

</style>

<script>
  const images = document.querySelectorAll('.image');
  const modal = document.getElementById('modal');
  const modalImg = document.getElementById('modalImg') as HTMLImageElement;
  const close = document.getElementById('close');
  const next = document.getElementById('next');
  const prev = document.getElementById('prev');
  let currentIndex = 0;


  images.forEach((img, index) => {
    img.addEventListener('click', (e) => {
      e.preventDefault();
      const target = e.target as HTMLImageElement;

      modalImg.src = target.src;

      currentIndex = index;

      modal.style.display = 'flex';

      document.body.style.overflow = 'hidden';
    })
  })

  close.addEventListener('click', (e) => {
    modal.style.display = 'none';

    document.body.style.overflow = '';
  })

  next.addEventListener('click', (e) => {
    currentIndex++;
    if (currentIndex >= (images.length - 1)) {
      currentIndex = 0;
    }
    const nextImage = images[currentIndex];
    const modalImg = document.getElementById('modalImg');
    modalImg.src = nextImage.src;
  })

  prev.addEventListener('click', (e) => {
    currentIndex--;
    if (currentIndex <= 0) {
      currentIndex = images.length - 1;
    }
    const prevImage = images[currentIndex];
    const modalImg = document.getElementById('modalImg');
    modalImg.src = prevImage.src;
  })

  modal.addEventListener('click', (e) => {
    if (e.target === modal) {
      modal.style.display = 'none';

      document.body.style.overflow = '';
    }
  })

</script>
