/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Font-Face Definitionen */
@font-face {
  font-family: "Lato-Black";
  src: url("../assets/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato-BlackItalic";
  src: url("../assets/fonts/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato-BoldItalic";
  src: url("../assets/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato-RegularItalic";
  src: url("../assets/fonts/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato-Light";
  src: url("../assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato-LightItalic";
  src: url("../assets/fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato-Thin";
  src: url("../assets/fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato-ThinItalic";
  src: url("../assets/fonts/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

:root {
  --clr-bg: #bdd9e5;
  --clr-bg-lt: rgb(189, 217, 229);
  --clr-bg-op: hsla(198, 44%, 82%, 0.7);

  --clr-bg-dark: #674e8d;
  --clr-bg-dark-full: #674e8d;



  --clr-bg-dark-test: #929292;

  --clr-font-dark: hsl(264, 29%, 15%);
  --clr-font-light: hsl(198, 44%, 95%);


  /* Fontsizes calculated based on utopia.fyi */
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.71rem + 0.8651vw, 2.4414rem);
  /* --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem); */
  --step-4: clamp(1.25rem, 0.8176rem + 2.1622vw, 3.25rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);

  --font-lato-black: "Lato-Black", sans-serif;
  --font-lato-black-italic: "Lato-BlackItalic", sans-serif;
  --font-lato-bold: "Lato-Bold", sans-serif;
  --font-lato-bold-italic: "Lato-BoldItalic", sans-serif;
  --font-lato-regular: "Lato-Regular", sans-serif;
  --font-lato-regular-italic: "Lato-RegularItalic", sans-serif;
  --font-lato-light: "Lato-Light", sans-serif;
  --font-lato-light-italic: "Lato-LightItalic", sans-serif;
  --font-lato-thin: "Lato-Thin", sans-serif;
  --font-lato-thin-italic: "Lato-ThinItalic", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balanced;
  margin: 0;
  padding: 0;
}

.light{
  color: var(--clr-font-light)
}

.dark{
  color: var(--clr-font-dark)
}

h1 {
  font-size: var(--step-4);
  font-family: var(--font-lato-bold);
  letter-spacing: 2px;
  margin-bottom: var(--space-l);
  text-align: center;
  line-height: 1;
  color: var(--clr-font-light)
}

h2 {
  font-size: var(--step-2);
  font-family: var(--font-lato-regular);
  letter-spacing: 2px;
  margin-bottom: var(--space-l);
  text-align: center;
  line-height: 1;
}

p {
  font-family: var(--font-lato-regular);
  font-size: var(--step--1);
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html, body{
  display:block;
  width: 100%;
  height: 100%;
  position:relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  margin: 0 auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Reset */

body{
  background-color: var(--clr-bg);
}
